@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue"), url("../fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue"), url("../fonts/TTFirsNeue-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
}

body {
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  font-family: "Roboto";
  max-width: 1290px;
  margin: auto;
}

.burger {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  -webkit-transition: 0.3s ease-in-out outline;
  -o-transition: 0.3s ease-in-out outline;
  transition: 0.3s ease-in-out outline;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  outline: 1px solid #FF6E30;
}

.btn {
  display: inline-block;
  padding: 15px 19px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 17px;
  background-color: #FF6E30;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out background-color;
  -o-transition: 0.3s ease-in-out background-color;
  transition: 0.3s ease-in-out background-color;
}
.btn:hover, .btn:focus {
  background-color: #BC572B;
}
.btn:active {
  background-color: #CE4307;
}

.btn-transparent {
  display: inline-block;
  padding: 12px 19px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  border: 4px solid #FF6E30;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out background-color;
  -o-transition: 0.3s ease-in-out background-color;
  transition: 0.3s ease-in-out background-color;
}
.btn-transparent:hover {
  background-color: #FF6E30;
}
.btn-transparent:focus {
  background-color: #BC572B;
  outline: 3px solid #FF6E30;
}
.btn-transparent:active {
  background-color: #CE4307;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.title {
  font-family: "TT Firs Neue";
  font-size: 24px;
  font-weight: 700;
}

.discription {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.header {
  background-color: #202020;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  max-width: 190px;
  max-height: 30px;
  -webkit-transition: 0.3s ease-in-out transform;
  -o-transition: 0.3s ease-in-out transform;
  transition: 0.3s ease-in-out transform;
}
.header__logo:hover, .header__logo:focus {
  -webkit-transform: scale(105%);
  -ms-transform: scale(105%);
  transform: scale(105%);
}
.header__logo:active {
  -webkit-transform: scale(95%);
  -ms-transform: scale(95%);
  transform: scale(95%);
}
.header__nav {
  margin-left: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header__link {
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #fff;
  -webkit-transition: 0.3s ease-in-out color;
  -o-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
}
.header__link:hover {
  color: #FF6E30;
}
.header__link:not(:last-child) {
  margin-right: 77px;
}
.header__link:focus {
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  background-color: #BC572B;
}
.header__link:active {
  padding-left: 0;
  padding-right: 0;
  color: #CE4307;
  background-color: transparent;
}
.header__socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.header__search {
  display: none;
}
.header__svg {
  width: 30px;
  height: 30px;
  fill: #CACACA;
  -webkit-transition: 0.3s ease-in-out fill;
  -o-transition: 0.3s ease-in-out fill;
  transition: 0.3s ease-in-out fill;
}
.header__svg:hover, .header__svg:focus {
  fill: #FF6E30;
}
.header__svg:active {
  fill: #CE4307;
}
.header__burger {
  width: 20px;
  height: 18px;
  fill: #CACACA;
  -webkit-transition: 0.3s ease-in-out fill;
  -o-transition: 0.3s ease-in-out fill;
  transition: 0.3s ease-in-out fill;
}
.header__burger:hover, .header__burger:focus {
  fill: #FF6E30;
}
.header__burger:active {
  fill: #CE4307;
}
.header__line {
  display: none;
}
.header__form {
  display: none;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s ease-in-out opacity;
  -o-transition: 0.3s ease-in-out opacity;
  transition: 0.3s ease-in-out opacity;
}
.header__form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__input {
  width: 130px;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  outline: none !important;
  border-bottom: 1px solid #E9E9E9;
  padding: 2px;
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
  cursor: pointer;
}
.header__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
}
.header__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
}
.header__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
}
.header__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
}
.header__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #E9E9E9;
}
.header__input:hover, .header__input:focus {
  border-bottom: 1px solid #FF6E30;
}
.header__input:active {
  border-bottom: 1px solid #CE4307;
}
.header__btn svg {
  width: 20px;
  height: 20px;
}

.hero .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
}
.hero .title {
  margin-bottom: 10px;
  -webkit-transform: translateY(-11px);
  -ms-transform: translateY(-11px);
  transform: translateY(-11px);
}
.hero__big {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 60px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/hero-1.jpg");
}
.hero__span {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out font-size;
  -o-transition: 0.3s ease-in-out font-size;
  transition: 0.3s ease-in-out font-size;
}
.hero__span:hover, .hero__span:focus {
  font-size: 18px;
}
.hero__span:active {
  font-size: 15px;
}
.hero__box {
  max-width: 420px;
  color: #fff;
}
.hero__author {
  font-family: "Roboto";
  font-size: 18px;
}
.hero__heading {
  font-family: "TT Firs Neue";
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 35px;
  line-height: 38px;
}
.hero__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__img-big {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.about-us {
  background-color: #202020;
}
.about-us .container {
  padding-top: 30px;
  padding-bottom: 66px;
}
.about-us__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.about-us .title {
  margin-bottom: 5px;
  color: #fff;
}
.about-us__heading {
  margin-top: 21px;
  margin-bottom: 8px;
  font-size: 24.5px;
  font-weight: normal;
  color: #FFFFFF;
}
.about-us__heading::before {
  content: "";
  display: block;
  width: 100%;
  min-height: 255px;
  background: url("../img/about-us.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
}
.about-us__info {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}
.about-us__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-us__input {
  min-width: 470px;
  padding: 15px 23px;
  background: #4A4A4A;
  color: #CACACA;
  font-size: 16px;
}
.about-us__input::-webkit-input-placeholder {
  font-size: 16px;
}
.about-us__input::-moz-placeholder {
  font-size: 16px;
}
.about-us__input:-ms-input-placeholder {
  font-size: 16px;
}
.about-us__input::-ms-input-placeholder {
  font-size: 16px;
}
.about-us__input::placeholder {
  font-size: 16px;
}

.projects .title {
  margin-bottom: 12px;
}
.projects .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.projects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}
.projects__item {
  position: relative;
  min-height: 300px;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.projects__item-middle {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}
.projects__item-big {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}
.projects__heading {
  max-width: 280px;
  margin-top: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15.5px;
  line-height: 22px;
  color: #202020;
}
.projects__heading-main {
  display: block;
}
.projects__heading-768 {
  display: none;
}
.projects__span {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 6px 11px;
  color: #FFFFFF;
  background-color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out font-size;
  -o-transition: 0.3s ease-in-out font-size;
  transition: 0.3s ease-in-out font-size;
}
.projects__span:hover, .projects__span:focus {
  font-size: 18px;
}
.projects__span:active {
  font-size: 15px;
}
.projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 30px;
}
.projects__content {
  margin-bottom: 20px;
}
.projects .btn-transparent {
  max-width: 120px;
}
.projects__date {
  position: absolute;
  bottom: 0;
  padding-left: 17px;
  font-size: 12px;
  color: #999999;
  background: url("../img/svg/calendar-gray.svg") no-repeat;
  background-position: left center;
}
.projects__white {
  padding-left: 17px;
  font-size: 12px;
  color: #fff;
  background: url("../img/svg/calendar-white.svg") no-repeat;
  background-position: left center;
}
.projects__title {
  max-width: 260px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 24px;
  font-family: "TT Firs Neue";
}
.projects__info {
  max-width: 295px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}
.projects__item:nth-child(4) {
  background: url("../img/about-project-1.jpg") no-repeat;
  background-size: cover;
}
.projects__item:nth-child(5) {
  background: url("../img/about-project-2.jpg") no-repeat;
  background-size: cover;
}

.contacts .container {
  padding-bottom: 69px;
}
.contacts .title {
  margin-bottom: 23px;
}
.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(850px, 1fr) 1fr;
  grid-template-columns: minmax(850px, 1fr) 1fr;
  grid-gap: 30px;
}
.contacts__container #map {
  position: relative;
}
.contacts__title {
  font-family: "TT Firs Neue";
  font-size: 22px;
  line-height: 22px;
  color: #202020;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.contacts__info {
  margin-top: -3px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 22px;
  color: #999999;
}
.contacts__form {
  margin-top: 14px;
}
.contacts__input, .contacts__textarea {
  min-width: 410px;
  max-width: inherit;
  max-height: 150px;
  padding: 15px 23px;
  margin-bottom: 20px;
  font-size: 16px;
  background: #E9E9E9;
  resize: none;
}
.contacts__input::-webkit-input-placeholder, .contacts__textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #999999;
}
.contacts__input::-moz-placeholder, .contacts__textarea::-moz-placeholder {
  font-size: 16px;
  color: #999999;
}
.contacts__input:-ms-input-placeholder, .contacts__textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #999999;
}
.contacts__input::-ms-input-placeholder, .contacts__textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #999999;
}
.contacts__input::placeholder, .contacts__textarea::placeholder {
  font-size: 16px;
  color: #999999;
}
.contacts__item {
  height: inherit;
}
.contacts__item:nth-child(2) {
  max-width: 410px;
}
.contacts .ymaps-2-1-79-map {
  max-width: inherit;
  height: inherit;
}
.contacts__box {
  position: absolute;
  z-index: 1;
  width: 48%;
  height: 100%;
  padding: 167px 60px 60px;
  top: 0;
  left: 0;
  background-color: rgba(32, 32, 32, 0.85);
}
.contacts__heading {
  font-size: 25px;
  color: #FFFFFF;
}
.contacts__address {
  max-width: 300px;
  margin-top: 2px;
  margin-bottom: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  color: #CACACA;
}
.contacts__tel {
  padding-left: 22px;
  background: url("../img/svg/tel.svg") no-repeat;
  background-position: center left;
  font-family: "TT Firs Neue";
  font-size: 16px;
  color: #FFFFFF;
}
.contacts__close {
  position: absolute;
  top: 20px;
  right: 20px;
  -webkit-transition: 0.3s ease-in-out transform;
  -o-transition: 0.3s ease-in-out transform;
  transition: 0.3s ease-in-out transform;
}
.contacts__close:hover, .contacts__close:focus {
  -webkit-transform: scale(120%);
  -ms-transform: scale(120%);
  transform: scale(120%);
}
.contacts__close:active {
  -webkit-transform: scale(90%);
  -ms-transform: scale(90%);
  transform: scale(90%);
}

.footer {
  background-color: #202020;
}
.footer .container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__img {
  -webkit-transition: 0.3s ease-in-out transform;
  -o-transition: 0.3s ease-in-out transform;
  transition: 0.3s ease-in-out transform;
}
.footer__img:hover, .footer__img:focus {
  -webkit-transform: scale(105%);
  -ms-transform: scale(105%);
  transform: scale(105%);
}
.footer__img:active {
  -webkit-transform: scale(95%);
  -ms-transform: scale(95%);
  transform: scale(95%);
}
.footer__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
}
.footer__copyright {
  font-family: "TT Firs Neue";
  display: block;
  color: #E9E9E9;
  font-size: 14px;
}
.footer__item:nth-child(2) {
  max-width: 485px;
}
.footer__info {
  margin-top: 8px;
  margin-right: 120px;
}
.footer__span {
  display: block;
  color: #4A4A4A;
}
.footer__nav {
  display: -ms-grid;
  display: grid;
  margin-top: 7px;
  margin-left: 14px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.footer a {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.footer__svg {
  width: inherit;
  height: inherit;
  fill: #CACACA;
  -webkit-transition: 0.3s ease-in-out fill;
  -o-transition: 0.3s ease-in-out fill;
  transition: 0.3s ease-in-out fill;
}
.footer__svg:hover, .footer__svg:focus {
  fill: #FF6E30;
}
.footer__svg:active {
  fill: #CE4307;
}
.footer__line {
  display: none;
}

@media (max-width: 1350px) {
  .container {
    max-width: 1024px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .title {
    font-size: 24px;
    line-height: 25px;
  }

  .header__logo {
    max-width: 166px;
    max-height: 27px;
  }
  .header__nav {
    margin-left: 10px;
    padding-left: 0;
    padding-right: 53px;
  }
  .header__link {
    font-size: 18px;
  }
  .header__link:not(:last-child) {
    margin-right: 24px;
  }
  .header__socials {
    display: none;
  }
  .header__search {
    display: block;
  }
  .header__search-none {
    display: none;
  }
  .header__svg {
    width: 25px;
    height: 25px;
  }

  .hero .container {
    padding-top: 35px;
    padding-bottom: 70px;
  }
  .hero .title {
    margin-bottom: 16px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hero__heading {
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 34px;
  }
  .hero__big {
    padding: 30px;
    background-image: url("../img/hero-1-1024.jpg");
  }
  .hero__span {
    padding: 6px 8px;
  }
  .hero__author {
    font-size: 16px;
  }

  .about-us .container {
    padding-bottom: 82px;
  }
  .about-us .title {
    margin-bottom: 7px;
  }
  .about-us__item:nth-child(1) {
    max-width: 465px;
  }
  .about-us__item:nth-child(2) {
    max-width: 465px;
  }
  .about-us__info {
    font-size: 16px;
  }
  .about-us__heading {
    margin-bottom: 12px;
  }
  .about-us__heading::before {
    min-height: 330px;
    background-image: url("../img/about-us-1024.jpg");
  }
  .about-us__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
  .about-us__input {
    min-width: 343px;
    margin-bottom: 20px;
  }

  .projects .container {
    padding-bottom: 80px;
  }
  .projects .title {
    margin-bottom: 16px;
  }
  .projects__container {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: 280px 300px 300px;
    grid-template-rows: 280px 300px 300px;
  }
  .projects__item {
    min-height: auto;
  }
  .projects__item-middle {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
  .projects__item-big {
    min-height: 307px;
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }
  .projects__item:nth-child(3) {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }
  .projects__item:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__item:nth-child(6) {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .projects__item:nth-child(7) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .projects__img {
    width: 100%;
    height: 184px;
  }
  .projects__box {
    padding: 34px 30px;
  }
  .projects__heading {
    max-width: none;
    margin-top: 13px;
    font-size: 16px;
  }
  .projects__heading-main {
    display: none;
  }
  .projects__heading-768 {
    display: block;
  }
  .projects__title {
    font-size: 24px;
  }
  .projects__hidden {
    display: none;
  }
  .projects__info {
    max-width: 295px;
    font-size: 16px;
    line-height: 21px;
  }
  .projects__white {
    font-size: 14px;
  }
  .projects__span {
    padding: 4px 11px;
  }

  .contacts__container {
    -ms-grid-columns: 590px 1fr;
    grid-template-columns: 590px 1fr;
  }
  .contacts__item:nth-child(1) {
    max-width: 590px;
  }
  .contacts__item:nth-child(2) {
    max-width: 340px;
  }
  .contacts__box {
    width: 100%;
    height: 34%;
    padding: 22px 30px;
    padding-top: 20px;
    top: auto;
    bottom: 0;
  }
  .contacts__heading {
    font-size: 24px;
  }
  .contacts__address {
    max-width: 300px;
    margin-top: 0px;
    font-size: 16px;
    line-height: 28px;
  }
  .contacts__info {
    font-size: 16px;
  }
  .contacts__input, .contacts__textarea {
    min-width: 340px;
  }
  .contacts__tel {
    position: relative;
    left: 91px;
    bottom: 25px;
    color: #FF6E30;
    background: url("../img/svg/tel-orange.svg") no-repeat;
    background-position: left center;
  }

  .footer .container {
    padding-top: 15px;
  }
  .footer__img {
    width: 166px;
    height: 27px;
  }
  .footer__info {
    margin-right: 25px;
    margin-left: 95px;
  }
  .footer__span {
    margin-left: 95px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 768px;
    padding-left: 27px;
    padding-right: 27px;
  }

  .header .container {
    position: relative;
  }
  .header__nav {
    position: absolute;
    width: 100%;
    height: 45px;
    top: 81px;
    left: 0;
    margin-left: 0;
    padding-left: 27px;
    padding-right: 27px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #4A4A4A;
  }
  .header__link {
    font-size: 17px;
  }
  .header__link:not(:last-child) {
    margin-right: 0;
  }
  .header__line {
    display: block;
    height: 45px;
    background-color: #4A4A4A;
  }

  .hero .container {
    padding-top: 35px;
    padding-bottom: 62px;
  }
  .hero .title {
    font-size: 22px;
    line-height: 22px;
  }
  .hero__big {
    background-image: url("../img/hero-1-768.jpg");
  }
  .hero__box {
    max-width: 240px;
  }
  .hero__heading {
    margin-top: 13px;
    margin-bottom: 25px;
    line-height: 32px;
  }

  .about-us .container {
    padding-top: 35px;
    padding-bottom: 60px;
  }
  .about-us__heading {
    margin-top: 16px;
  }
  .about-us__heading::before {
    min-height: 569px;
    background-image: url("../img/about-us-768.jpg");
  }
  .about-us__input {
    margin-bottom: 24px;
  }

  .projects .container {
    padding-bottom: 75px;
  }
  .projects__container {
    -ms-grid-columns: 218px 94px 94px 218px;
    grid-template-columns: 218px 94px 94px 218px;
    -ms-grid-rows: 295px 300px 300px 300px;
    grid-template-rows: 295px 300px 300px 300px;
  }
  .projects__item:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .projects__item:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .projects__item:nth-child(3) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .projects__item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .projects__item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .projects__item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__item:nth-child(7) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__hidden {
    display: inline;
  }
  .projects__heading {
    max-width: 100%;
    line-height: 23px;
  }
  .projects__heading-main {
    display: block;
  }
  .projects__heading-768 {
    display: none;
  }

  .contacts .container {
    padding-bottom: 42px;
  }
  .contacts__container {
    height: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .contacts__item:nth-child(1) {
    max-width: 100%;
    height: 463px;
  }
  .contacts__item:nth-child(2) {
    max-width: 466px;
  }
  .contacts__input, .contacts__textarea {
    min-width: 465px;
    margin-bottom: 20px;
  }
  .contacts__address {
    max-width: 430px;
  }
  .contacts__tel {
    position: static;
  }

  .footer .container {
    padding-top: 25px;
  }
  .footer__item:nth-child(2) {
    display: none;
  }
}
@media (max-width: 760px) {
  .container {
    max-width: 600px;
    padding-left: 21px;
    padding-right: 21px;
  }

  .title {
    font-size: 18px;
  }

  .btn {
    padding: 10px 19px;
    font-size: 15px;
  }

  .btn-transparent {
    font-size: 14px;
    padding: 8px 19px;
  }

  .header .container {
    height: 70px;
  }
  .header__logo {
    width: 111px;
    height: 18px;
  }
  .header__link {
    z-index: 2;
    position: absolute;
    width: 90%;
    font-size: 22px;
    background-color: #4A4A4A;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 1s ease-in-out opacity;
    -o-transition: 1s ease-in-out opacity;
    transition: 1s ease-in-out opacity;
  }
  .header__link:nth-child(2) {
    top: 75px;
  }
  .header__link:nth-child(3) {
    top: 110px;
  }
  .header__link:nth-child(4) {
    top: 145px;
  }
  .header__link:nth-child(5) {
    top: 180px;
  }
  .header__link:nth-child(6) {
    top: 215px;
  }
  .header__nav {
    top: 70px;
    padding-left: 21px;
    padding-right: 21px;
  }
  .header__search svg {
    width: 20px;
    height: 20px;
  }
  .header .burger {
    display: block;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
  }
  .header__line {
    -webkit-transition: 0.3s ease-in-out height;
    -o-transition: 0.3s ease-in-out height;
    transition: 0.3s ease-in-out height;
  }
  .header__line-wide {
    height: 290px;
  }

  .link-visible {
    visibility: visible;
    opacity: 1;
  }

  .hero .container {
    padding-top: 30px;
    padding-bottom: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .hero__big {
    min-height: 420px;
  }
  .hero__heading {
    max-width: 169px;
    margin-top: 9px;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 26px;
  }
  .hero .title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 19px;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
  .hero__span {
    top: 5px;
    right: 5px;
    padding: 3px 4px;
    font-size: 13px;
  }
  .hero__box {
    max-width: 235px;
  }
  .hero__author {
    font-size: 15.5px;
  }
  .hero__img-big {
    width: 100%;
  }

  .about-us .container {
    padding-top: 32px;
    padding-bottom: 62px;
  }
  .about-us__container {
    max-height: 1160px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 23px;
  }
  .about-us .title {
    margin-bottom: 4px;
  }
  .about-us__item:nth-child(1) {
    max-width: 100%;
  }
  .about-us__item:nth-child(2) {
    max-width: 100%;
  }
  .about-us__heading {
    max-width: 100%;
    margin-top: 24px;
    font-size: 18px;
  }
  .about-us__heading::before {
    min-height: 278px;
    background-image: url("../img/about-us-320.jpg");
  }
  .about-us__info {
    font-size: 14px;
    line-height: 25px;
  }
  .about-us__input {
    min-width: 278px;
    margin-bottom: 21px;
    padding: 11px 23px;
  }

  .projects .container {
    padding-top: 48px;
    padding-bottom: 51px;
  }
  .projects__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 275px 275px 275px 423px 296px 302px 420px;
    grid-template-rows: 275px 275px 275px 423px 296px 302px 420px;
    gap: 27px;
  }
  .projects__item {
    min-height: auto;
  }
  .projects__heading {
    line-height: 23px;
  }
  .projects__item:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .projects__item:nth-child(2) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .projects__item:nth-child(3) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .projects__item:nth-child(4) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .projects__item:nth-child(5) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    grid-row: 7;
  }
  .projects__item:nth-child(5) .projects__content {
    margin-bottom: 20px;
  }
  .projects__item:nth-child(6) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
  .projects__item:nth-child(7) {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 6;
    grid-row: 6;
  }
  .projects__item:nth-child(7) .projects__heading {
    margin-top: 16px;
  }
  .projects__span {
    top: 5px;
    right: 5px;
    padding: 2px 12px;
    font-size: 14px;
  }
  .projects__date {
    font-size: 13px;
  }
  .projects__box {
    padding-top: 197px;
  }
  .projects__title {
    margin-top: 10px;
    margin-bottom: 9px;
  }
  .projects__info {
    font-size: 16px;
    line-height: 18px;
  }
  .projects .btn-transparent {
    max-width: 110px;
  }
  .projects__content {
    margin-bottom: 16px;
  }

  .contacts .container {
    padding-bottom: 50px;
  }
  .contacts .title {
    margin-bottom: 13px;
  }
  .contacts__container {
    -ms-grid-rows: 470px 1fr;
    grid-template-rows: 470px 1fr;
  }
  .contacts__container .btn {
    max-width: 115px;
  }
  .contacts__title {
    font-size: 16px;
    margin-bottom: 5px;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .contacts__info {
    font-size: 14px;
    line-height: 18px;
  }
  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts__form .btn {
    padding: 12px 19px;
  }
  .contacts__input, .contacts__textarea {
    min-width: 278px;
    max-width: 278px;
    margin-bottom: 19px;
    padding: 11px 23px;
  }
  .contacts__input::-webkit-input-placeholder, .contacts__textarea::-webkit-input-placeholder {
    font-size: 15px;
  }
  .contacts__input::-moz-placeholder, .contacts__textarea::-moz-placeholder {
    font-size: 15px;
  }
  .contacts__input:-ms-input-placeholder, .contacts__textarea:-ms-input-placeholder {
    font-size: 15px;
  }
  .contacts__input::-ms-input-placeholder, .contacts__textarea::-ms-input-placeholder {
    font-size: 15px;
  }
  .contacts__input::placeholder, .contacts__textarea::placeholder {
    font-size: 15px;
  }
  .contacts__heading {
    font-size: 18px;
  }
  .contacts__address {
    margin-top: 11px;
    font-size: 14px;
    line-height: 19px;
  }
  .contacts__box {
    height: 33%;
    padding: 26px 20px;
    padding-right: 35px;
  }
  .contacts__tel {
    bottom: 0;
    font-size: 14px;
  }
  .contacts__item:nth-child(1) {
    height: 100%;
  }
  .contacts__item:nth-child(2) {
    max-width: 100%;
  }
  .contacts__tel {
    left: 0;
    bottom: 5px;
  }

  .footer .container {
    position: relative;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 35px;
  }
  .footer__item:nth-child(1) {
    position: absolute;
    width: 100%;
    bottom: -73px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    background-color: #4A4A4A;
  }
  .footer__copyright {
    font-size: 10px;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .footer__img {
    width: 111px;
    height: 18px;
  }
  .footer__line {
    display: block;
    height: 73px;
    background-color: #4A4A4A;
  }
}
@media (max-width: 380px) {
  .container {
    max-width: 320px;
  }

  .hero__big {
    background-image: url("../img/hero-1-320.jpg");
  }

  .contacts__big {
    max-width: 320px;
    margin-left: -21px;
    margin-right: -21px;
  }
  .contacts__item:nth-child(1) {
    max-width: 100%;
    min-width: 320px;
    margin-left: -21px;
    margin-right: -21px;
  }
}
/*# sourceMappingURL=style.css.map */