$mainBackground: #202020;
$btnBackground: #FF6E30;
$spanBackground: #333;
$colorSvg: #CACACA;
$colorActive: #CE4307;

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'),
         url('../fonts/TTFirsNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'),
         url('../fonts/TTFirsNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'),
         url('../fonts/TTFirsNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue'),
         url('../fonts/TTFirsNeue-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
         url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

body {
    min-width: 320px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    font-family: 'Roboto';
    max-width: 1290px;
    margin: auto;
}

.burger {
    display: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

input,
textarea {
    transition: .3s ease-in-out outline;

    &:hover,
    &:focus {
        outline: 1px solid $btnBackground;
    }
}

.btn {
    display: inline-block;
    padding: 15px 19px;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 17px;
    background-color: $btnBackground;
    color: #fff;
    cursor: pointer;
    transition: .3s ease-in-out background-color;

    &:hover,
    &:focus {
        background-color: #BC572B;
    }
    &:active {
        background-color: $colorActive;
    }
}

.btn-transparent {
    display: inline-block;
    padding: 12px 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: 4px solid $btnBackground;
    cursor: pointer;
    transition: .3s ease-in-out background-color;

    &:hover {
        background-color: $btnBackground;
    }
    &:focus {
        background-color: #BC572B;
        outline: 3px solid $btnBackground;
    }
    &:active {
        background-color: $colorActive;
    }
}

img {
    object-fit: cover;
    object-position: center;
}

.title {
    font-family: 'TT Firs Neue';
    font-size: 24px;
    font-weight: 700;
}

.discription {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}

.header {
    background-color: $mainBackground;

    .container {
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 190px;
        max-height: 30px;
        transition: .3s ease-in-out transform;

        &:hover,
        &:focus {
            transform: scale(105%);
        }
        &:active {
            transform: scale(95%);
        }
    }
    &__nav {
        margin-left: 62px;
        display: flex;
        flex-wrap: wrap;
    }
    &__link {
        font-weight: normal;
        font-size: 17px;
        line-height: 21px;
        color: #fff;
        transition: .3s ease-in-out color;

        &:hover, {
            color: $btnBackground;
        }
        &:not(:last-child) {
            margin-right: 77px;
        }
        &:focus {
            padding-left: 5px;
            padding-right: 5px;
            color: #fff;
            background-color: #BC572B;
        }
        &:active {
            padding-left: 0;
            padding-right: 0;
            color: $colorActive;
            background-color: transparent;
        }
    }
    &__socials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    &__search {
        display: none;
    }
    &__svg {
        width: 30px;
        height: 30px;
        fill: $colorSvg;
        transition: .3s ease-in-out fill;

        &:hover,
        &:focus {
            fill: $btnBackground;
        }
        &:active {
            fill: $colorActive;
        }
    }
    &__burger {
        width: 20px;
        height: 18px;
        fill: $colorSvg;
        transition: .3s ease-in-out fill;

        &:hover,
        &:focus {
            fill: $btnBackground;
        }
        &:active {
            fill: $colorActive;
        }
    }
    &__line {
        display: none;
    }
    &__form {
        display: none;
        justify-content: end;
        align-items: center;
        transition: .3s ease-in-out opacity;

        &-flex {
            display: flex;
        }
    }
    &__input {
        width: 130px;
        margin-left: 5px;
        background-color: transparent;
        border: none;
        outline: none !important;
        border-bottom: 1px solid #E9E9E9;
        padding: 2px;
        font-weight: 400;
        font-size: 14px;
        color: #E9E9E9;
        cursor: pointer;

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            color: #E9E9E9;
        }
        &:hover,
        &:focus {
            border-bottom: 1px solid #FF6E30;
        }
        &:active {
            border-bottom: 1px solid #CE4307;
        }
    }
    &__btn {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

.hero {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .title {
        margin-bottom: 10px;
        transform: translateY(-11px);
    }
    &__big {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 60px;
        background-size: cover;
        background-position: center;
        background-image: url('../img/hero-1.jpg');
    }
    &__span {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 7px 15px;
        font-size: 16px;
        color: #fff;
        background-color: $spanBackground;
        cursor: pointer;
        transition: .3s ease-in-out font-size;

        &:hover,
        &:focus {
            font-size: 18px;
        }
        &:active {
            font-size: 15px;
        }
    }
    &__box {
        max-width: 420px;
        color: #fff;
    }
    &__author {
        font-family: 'Roboto';
        font-size: 18px;
    }
    &__heading {
        font-family: 'TT Firs Neue';
        margin-bottom: 23px;
        font-weight: bold;
        font-size: 35px;
        line-height: 38px;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    &__img {
        width: 100%;
        height: 100%;
        &-big {
            grid-column: span 2;
        }
    }
}

.about-us {
    background-color: $mainBackground;

    .container {
        padding-top: 30px;
        padding-bottom: 66px;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
    .title {
        margin-bottom: 5px;
        color: #fff;
    }
    &__heading {
        margin-top: 21px;
        margin-bottom: 8px;
        font-size: 24.5px;
        font-weight: normal;
        color: #FFFFFF;

        &::before {
            content: '';
            display: block;
            width: 100%;
            min-height: 255px;
            background: url('../img/about-us.jpg') no-repeat;
            background-size: cover;
            background-position: center;
            transform: translateY(-25px);
        }
    }
    &__info {
        font-family: 'Roboto';
        font-size: 16px;
        line-height: 28px;
        color: $colorSvg;
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input {
        min-width: 470px;
        padding: 15px 23px;
        background: #4A4A4A;
        color: $colorSvg;
        font-size: 16px;

        &::placeholder {
            font-size: 16px;
        }
    }
}

.projects {
    .title {
        margin-bottom: 12px;
    }
    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item {
        position: relative;
        min-height: 300px;
        grid-column: span 2;

        &-middle {
            grid-column: span 3;
        }
        &-big {
            grid-column: span 6;
        }
    }
    &__heading {
        max-width: 280px;
        margin-top: 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 15.5px;
        line-height: 22px;
        color: #202020;

        &-main {
            display: block;
        }
        &-768 {
            display: none;
        }
    }
    &__span {
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 6px 11px;
        color: #FFFFFF;
        background-color: #333333;
        font-family: 'Roboto';
        font-size: 16px;
        cursor: pointer;
        transition: .3s ease-in-out font-size;

        &:hover,
        &:focus {
            font-size: 18px;
        }
        &:active {
            font-size: 15px;
        }
    }
    &__box {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 30px;
    }
    &__content {
        margin-bottom: 20px;
    }
    .btn-transparent {
        max-width: 120px;
    }
    &__date {
        position: absolute;
        bottom: 0;
        padding-left: 17px;
        font-size: 12px;
        color: #999999;
        background: url('../img/svg/calendar-gray.svg') no-repeat;
        background-position: left center;
    }
    &__white {
        padding-left: 17px;
        font-size: 12px;
        color: #fff;
        background: url('../img/svg/calendar-white.svg') no-repeat;
        background-position: left center;
    }
    &__title {
        max-width: 260px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
        line-height: 24px;
        font-family: 'TT Firs Neue';
    }
    &__info {
        max-width: 295px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
    }
    &__item:nth-child(4){
        background: url('../img/about-project-1.jpg') no-repeat;
        background-size: cover;
    }
    &__item:nth-child(5){
        background: url('../img/about-project-2.jpg') no-repeat;
        background-size: cover;
    }
}

.contacts {
    .container {
        padding-bottom: 69px;
    }
    .title {
        margin-bottom: 23px;
    }
    &__container {
        display: grid;
        grid-template-columns: minmax(850px, 1fr) 1fr;
        grid-gap: 30px;

        #map {
            position: relative;
        }
    }
    &__title {
        font-family: 'TT Firs Neue';
        font-size: 22px;
        line-height: 22px;
        color: #202020;
        transform: translateY(-8px);
    }
    &__info {
        margin-top: -3px;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 22px;
        color: #999999;
    }
    &__form {
        margin-top: 14px;
    }
    &__input,
    &__textarea {
        min-width: 410px;
        max-width: inherit;
        max-height: 150px;
        padding: 15px 23px;
        margin-bottom: 20px;
        font-size: 16px;
        background: #E9E9E9;
        resize: none;

        &::placeholder {
            font-size: 16px;
            color: #999999;
        }
    }
    &__item {
        height: inherit;
    }
    &__item:nth-child(2) {
        max-width: 410px;
    }
    .ymaps-2-1-79-map {
        max-width: inherit;
        height: inherit;
    }
    &__box {
        position: absolute;
        z-index: 1;
        width: 48%;
        height: 100%;
        padding: 167px 60px 60px;
        top: 0;
        left: 0;
        background-color: rgba(32, 32, 32, 0.85);
    }
    &__heading {
        font-size: 25px;
        color: #FFFFFF;
    }
    &__address {
        max-width: 300px;
        margin-top: 2px;
        margin-bottom: 3px;
        font-family: 'Roboto';
        font-style: normal;
        font-size: 15px;
        line-height: 28px;
        color: $colorSvg;
    }
    &__tel {
        padding-left: 22px;
        background: url('../img/svg/tel.svg') no-repeat;
        background-position: center left;
        font-family: 'TT Firs Neue';
        font-size: 16px;
        color: #FFFFFF;
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;

        transition: .3s ease-in-out transform;

        &:hover,
        &:focus {
            transform: scale(120%);
        }
        &:active {
            transform: scale(90%);
        }
    }
}

.footer {
    background-color: $mainBackground;

    .container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        transition: .3s ease-in-out transform;

        &:hover,
        &:focus {
            transform: scale(105%);
        }
        &:active {
            transform: scale(95%);
        }
    }
    &__item {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $colorSvg;
    }
    &__copyright {
        font-family: 'TT Firs Neue';
        display: block;
        color: #E9E9E9;
        font-size: 14px;
    }
    &__item:nth-child(2) {
        max-width: 485px;
    }
    &__info {
        margin-top: 8px;
        margin-right: 120px;
    }
    &__span {
        display: block;
        color: #4A4A4A;
    }
    &__nav {
        display: grid;
        margin-top: 7px;
        margin-left: 14px;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    a {
        cursor: pointer;
        width: 30px;
        height: 30px;
    }
    &__svg {
        width: inherit;
        height: inherit;
        fill: $colorSvg;
        transition: .3s ease-in-out fill;

        &:hover,
        &:focus {
            fill: $btnBackground;
        }
        &:active {
            fill: $colorActive;
        }
    }
    &__line {
        display: none;
    }
}
